# Dependencies
node_modules
/node_modules

# Environment variables
.env

# Build output
dist/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma
/src/generated/prisma
